.wp-admin {
    background-color: #f0f0f1 !important;
}
#button_wtf {
    cursor: pointer;
    float: left;
    margin-top: -10px;
    margin-right:  10px !important;
}

.entry-content  {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}